@import '../../themes/vars';

.PhotosByAlbums {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .albumWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .albumTitle {
      display: flex;
      justify-content: flex-start;
      line-height: rem(24);
      margin: rem(16) 0 rem(8) rem(8);
      font-size: $mobileFontSize;
      text-transform: capitalize;
    }

    .grid {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: 6px;

      .photo {
        padding-bottom: 100%;
        height: 0;

        img {
          width: 100%;
        }
      }
    }
  }
}
