$color-white: #fff;
$color-grey-dark: #777;
$color-grey-medium: #d4d4d4;
$color-grey-light: #fcfcfc;
$color-blue-dark: #173246;
$color-blue-medium: #193f5a;
$color-blue-light: #1a73e8;
$color-green-dark: #dda02f;
$color-green-medium: #0CB720;
$color-green-light: #c6f4a4;
