@import '../../themes/vars';

.Photos {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 6px;
  // margin: 0 auto;

  .photo {
    padding-bottom: 100%;
    height: 0;

    img {
      width: 100%;
    }
  }
}
