@import '../../themes/vars';

.Main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  margin: $headerHeight 0;

  nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $color-grey-medium;
  }
}

@include desktop {
  .Main {
    flex-direction: row;
    box-sizing: border-box;
    margin: $headerHeight 0 0 rem(80);

    nav {
      left: 0;
      top: $headerHeight;
      width: rem(80);
      height: 100%;
      border-top: none;
      border-right: 1px solid $color-grey-medium;
    }
  }
}