$desktop: 'min-width: 768px';
$desktopMaxWidth: 100%;
$desktopFontSize: rem(14);
$mobileFontSize: rem(16);
$mobileMinWidth: rem(320);
$font-family-base: 'Roboto', 'Roboto Regular', sans-serif;
$footerHeight: rem(142);
$headerHeight: rem(80);
$tabsHeight: rem(80);